body {
    display: grid;
    padding: 0px;
    margin: 0px;
    grid-template-columns: 1fr 6fr;
    height: 100vh;
}

/*Sidebar*/
.sidebar-container {
    grid-column: 1 / 2;
    
    display: grid;
    grid-template-rows: 1fr 2.2fr 3fr;

    border-right: 2px solid black;
}

.sidebar-title-line, .sidebar-line {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}

.sidebar-line {
    grid-auto-rows: 35px;
}

.sidebar-icon {
    justify-self: center;
}
    /*The actual dashboard icon and p*/
.sidebar-title-line {
    grid-row: 1 / 2;
}

.sidebar-title-line > p {
    font-size: 1.25rem;
}
    /*Nav links*/
.navigation-links {
    grid-row: 2 / 3;
}
    /*Other links*/
.other-links {
    grid-row: 3 / 4;
}

.non-sidebar-container {
    grid-column: 2 / -1;
    
    display: grid;
    grid-template-rows: 1fr 4fr;
}
/*Header*/
.header-container {
    grid-row: 1 / 2;

    display: grid;
    grid-template-rows: 1fr 1fr;

    border-bottom: 2px solid black;

    box-sizing: border-box;
    padding: 0px 40px;
}

.header-container > .top-area {
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-template-rows: 1fr;
}

form {
    display: grid;
    grid-template-columns: .01fr 1fr;
    align-items: center;
}

form > input[type="search"] {
    width: 70%;
    height: 40%;

    border-radius: 5px;
    border: 1px solid black;
}

.top-area-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    place-items: center end;
}

.top-area-grid p {
    justify-self: center;
}

img.profile-picture {
    border: 1px solid black;
    border-radius: 100px; /*Big just so a circle is always made*/
}

.header-container > .bottom-area {
    grid-row: 2 / -1;
}

/*Content Area*/
.content-container {
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: 3fr 1fr;
}